## IDEs, editors, ...
.DS_Store
.idea
.project
*.bak
*.iml
*.sublime*
*.swp
/.settings
.python-version

# Build and Tests Artefacts
*.retry
/.make
/.venv_*
/meta/.galaxy_install_info
/tests/.vagrant
/tests/*.log
/tests/roles
.pre-commit-config.yaml
